notes.txt
notes9.txt
notes10.txt
# Helm build artifacts
*.tgz
helm-charts/my-chart/Chart.lock

# Kubespray
kubespray/
mycluster/credentials/

# TLS certs
*.key
*.crt

# Python
.venv/
__pycache__/

# OS
.DS_Store

keycloak.yaml
post.yaml
